.center-list {
    width: 20%;
    margin: 0 auto;
    cursor: pointer;
  }

.blue-border {
   border: 1px solid #64b5f6;
}

.delete {
    color: red;
    cursor: pointer;
    cursor: pointer;
}

.update{
    color: green;
    cursor: pointer;
}


