.center-form {
    width: 50%;
    margin: 0 auto;
  }

.input-field input[type=text]:focus {
  border-bottom: 1px solid #64b5f6;
  box-shadow: 0 1px 0 0 #64b5f6;
}

.input-field label {
  color: #64b5f6;
}

.input-field input[type=text]:focus + label {
  color: #64b5f6;
}


